# =================================
# Python
# =================================

__pycache__/
*.py[cod]
*$py.class

*.so
.Python

build/
develop-eggs/
dist/
.eggs/

*.egg-info/


# =================================
# Virtual Environment
# =================================

.venv/
venv/
env/


# =================================
# HuggingFace Cache
# =================================

.cache/
.cache/huggingface/

huggingface/
models/


# =================================
# PyTorch
# =================================

*.pt
*.pth
*.ckpt
*.bin
*.safetensors


# =================================
# Dataset
# =================================

data/*
!data/README.md


# =================================
# Outputs
# =================================

outputs/*
!outputs/.gitkeep


# =================================
# Logs
# =================================

logs/
*.log


# =================================
# Temporary
# =================================

tmp/
temp/

*.tmp


# =================================
# IDE
# =================================

.vscode/
.idea/


# =================================
# OS
# =================================

.DS_Store
Thumbs.db


# =================================
# Secrets
# =================================

.env
*.key
*.pem